# Homework #3: Data Frames
Using Pandas and DataFrame, repeat our analysis of the 80 Cereal Data. Please complete the following tasks and submit the solutions as a PDF file to Blackboard.
#### CMP 333: Data Management and Analysis - Isaac D. Hoyos

## **1. Load `cereal.csv` as a pandas data frame and display its first 5 rows. [Source of data](https://www.kaggle.com/crawford/80-cereals)**

In [1]:
import pandas as pd
cereal_df = pd.read_csv("cereal.csv")
print("The first 5 rows of the dataset:")
display(cereal_df.head())

The first 5 rows of the dataset:

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

## **2. Display all cereal names.**

In [2]:
print("All cereal names of the dataset:")
display(cereal_df[["name"]])

All cereal names of the dataset:

                         name
0                   100% Bran
1           100% Natural Bran
2                    All-Bran
3   All-Bran with Extra Fiber
4              Almond Delight
..                        ...
72                    Triples
73                       Trix
74                 Wheat Chex
75                   Wheaties
76        Wheaties Honey Gold

[77 rows x 1 columns]

## **3. Find the product name with the lowest rating.**

In [3]:
lowest_rating_cereal = cereal_df.loc[cereal_df["rating"].idxmin()]
print("Cereal with the lowest rating:", lowest_rating_cereal["name"])
display(pd.DataFrame([lowest_rating_cereal]))

Cereal with the lowest rating: Cap'n'Crunch

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.0,0.75,18.042851

## **4. Display all cereals with rating above 60.**

In [4]:
rating_above_60 = cereal_df[cereal_df["rating"] > 60]
print("All cereals with rating above 60:")
display(rating_above_60[["name", "rating"]])

All cereals with rating above 60:

                         name     rating
0                   100% Bran  68.402973
3   All-Bran with Extra Fiber  93.704912
20     Cream of Wheat (Quick)  64.533816
54                Puffed Rice  60.756112
55               Puffed Wheat  63.005645
63             Shredded Wheat  68.235885
64     Shredded Wheat 'n'Bran  74.472949
65  Shredded Wheat spoon size  72.801787

## **5. Add a new column "fiber per ounce". Its value equals "fiber" divided by "weight".**

In [5]:
cereal_df["fiber per ounce"] = cereal_df["fiber"] / cereal_df["weight"]
print("Added a new \"fiber per ounce\" column to the dataset:")
display(cereal_df)

Added a new "fiber per ounce" column to the dataset:

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,fiber per ounce
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,10.0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,2.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,9.0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,14.0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174,0.0
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301,0.0
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445,3.0
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193,3.0
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559,1.0

## **6. Which product has the highest amount of fiber per ounce?**

In [6]:
highest_fiber_cereal = cereal_df.loc[cereal_df["fiber per ounce"].idxmax()]
print("Cereal with the highest amount of fiber per ounce:", highest_fiber_cereal["name"])
display(pd.DataFrame([highest_fiber_cereal]))

Cereal with the highest amount of fiber per ounce: All-Bran with Extra Fiber

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,fiber per ounce
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912,14.0