# Homework #4: Analyzing Data Frames
Analyze the [MovieLens](https://grouplens.org/datasets/movielens/) `ml-latest-small` dataset and find the answer to the following questions:
#### CMP 333: Data Management and Analysis - Isaac D. Hoyos

In [1]:
import pandas as pd

# Load CSV files.
movies_df = pd.read_csv("movies.csv")
ratings_df = pd.read_csv("ratings.csv")

# Convert timestamp to datetime and extract year.
ratings_df['datetime'] = pd.to_datetime(ratings_df['timestamp'], unit = 's')
ratings_df['year'] = ratings_df['datetime'].dt.year

## **1. Which 5 comedy movies receive the largest number of ratings?**

In [2]:
# Filter comedy movies.
comedy_movies = movies_df[movies_df['genres'].str.contains('Comedy', case = False, na = False)]

# Merge with ratings data.
comedy_ratings = pd.merge(ratings_df, comedy_movies, on = 'movieId', how = 'inner')

# Count the number of ratings for each comedy movie.
comedy_counts = comedy_ratings.groupby(['movieId', 'title'])['rating'].count().reset_index(name='num_ratings')

# Sort in descending order and show the top 5.
top5_comedies = comedy_counts.sort_values('num_ratings', ascending = False).head(5)

print("Top 5 Comedy Movies With The Largest Number of Ratings:")
display(top5_comedies[['title', 'num_ratings']])

Top 5 Comedy Movies With The Largest Number of Ratings:

                   title  num_ratings
115  Forrest Gump (1994)          329
94   Pulp Fiction (1994)          307
0       Toy Story (1995)          215
194       Aladdin (1992)          183
197         Fargo (1996)          181

## **2. Which user gave the most ratings in 2018? How many ratings did he or she give?**

In [3]:
# Filter ratings made in 2018.
ratings_2018 = ratings_df[ratings_df['year'] == 2018]

# Count number of ratings per user.
user_2018_counts = ratings_2018.groupby('userId')['rating'].count().reset_index(name='num_ratings')

# Find the top user in the data.
if not user_2018_counts.empty:
    top_user_2018 = user_2018_counts.sort_values('num_ratings', ascending=False).head(1)
    top_user_id = top_user_2018.iloc[0]['userId']
    top_user_ratings = top_user_2018.iloc[0]['num_ratings']
    print(f"The User With The Most Ratings in 2018: {top_user_id}")
    print(f"Number of Ratings The User Gave in 2018: {top_user_ratings}")
    
    # Display the table
    display(top_user_2018)
else:
    print("No ratings found for 2018.")

The User With The Most Ratings in 2018: 599
Number of Ratings The User Gave in 2018: 794

    userId  num_ratings
47     599          794

## **3. Which 5 drama movies have the highest average rating? (Do not count movies with fewer than 10 ratings.)**

In [4]:
# Filter drama movies.
drama_movies = movies_df[movies_df['genres'].str.contains('Drama', case = False, na = False)]

# Merge with ratings data.
drama_ratings = pd.merge(ratings_df, drama_movies, on = 'movieId', how = 'inner')

# Calculate average rating and rating count per movie.
drama_stats = drama_ratings.groupby(['movieId', 'title'])['rating'].agg(['mean', 'count']).reset_index()
drama_stats = drama_stats.rename(columns = {'mean': 'avg_rating', 'count': 'num_ratings'})

# Keep movies with at least 10 ratings.
drama_stats_filtered = drama_stats[drama_stats['num_ratings'] >= 10]

# Sort by average rating and show the top 5.
top5_drama = drama_stats_filtered.sort_values(['avg_rating', 'num_ratings'], ascending = [False, False]).head(5)

print("Top 5 Drama Movies With The Highest Average Rating:")
display(top5_drama[['title', 'avg_rating', 'num_ratings']])

Top 5 Drama Movies With The Highest Average Rating:

                                    title  avg_rating  num_ratings
389                 Secrets & Lies (1996)    4.590909           11
1230  Guess Who's Coming to Dinner (1967)    4.545455           11
437                 Paths of Glory (1957)    4.541667           12
414      Streetcar Named Desire, A (1951)    4.475000           20
847      Celebration, The (Festen) (1998)    4.458333           12